@(title: String, user: models.User)

@main("Index Page", user) {

<!-- Index Page Content -->
		<div class="container">
			<div class="jumbotron text-center">
				<h1>Music Store.</h1>
				<p>Page currently under devlopment.<p>
				<a href="#"><i class="fa fa-cog fa-spin fa-5x"></i></a></p>
			</div>
		</div>
			
			
			
		
}

  <!-- Index Page Content -->
		<!--<div class="container">
			<div class="jumbotron text-center">
				<h1>Music Store.</h1>
				<p>Page currently under devlopment.<p>
				<a href="#"><i class="fa fa-cog fa-spin fa-5x"></i></a></p>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<h3>Theme 1</h3>
						<p>This is some space for stuff to go for our site.</p>
						<a href="#" class="btn btn-danger">View</a>
				</div>
				<div class="col-sm-4">
					<h3>Theme 2</h3>
						<p>This is some space for stuff to go for our site.</p>
						<a href="#" class="btn btn-danger">View</a>
				</div>
				<div class="col-sm-4">
					<h3>Theme 3</h3>
						<p>This is some space for stuff to go for our site.</p>
						<a href="#" class="btn btn-danger">View</a>
				</div>
			</div>
		</div>-->
        

